<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ajouter un Escape Game">
    <meta name="author" content="Robin LEFLOND Vincent DENJOY Louis RIOU Nicolas HUBERDEAU">

    <title>Ajouter un Escape Game</title>

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

</head>
<body>
<div id="wrapper">

    <div id="page-wrapper" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">AJOUTER UN ESCAPE GAME</h1>
                <img src="../img/can-you-escape-banner.png" class="img-responsive" alt="Escape game" width=100%>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form action="#" th:action="@{/addEscapeGame}" th:object="${escapeGame}" method="post">
                                    <div class="form-group">
                                        <label>Auteur</label>
                                        <td th:text="${user}"></td>

                                    </div>
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        <input type="text" class="input-lg form-control" id="name"
                                               th:field="*{name}" placeholder="Nom de l'escape game" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <input type="text" id="description" class="input-lg form-control"
                                               th:field="*{description}" placeholder="Décrivez votre escape game"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="theme">Theme</label>
                                        <input type="text" id="theme" class="input-lg form-control"
                                               th:field="*{theme}" placeholder="theme de l'escape game" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="startDate">Date d'ouverture</label>
                                        <input type="date" id="startDate" class="input-lg form-control"
                                               th:field="*{opening_date}" placeholder="" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Adresse de l'Escape Game</label>
                                        <input type="text" id="address" class="input-lg form-control"
                                               th:field="*{address}" placeholder="" required>
                                    </div>

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row text-center">
            <a href="/">
                <button>Revenir à l'accueil</button>
            </a>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>

<!-- /#wrapper -->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            &bullet; Projet Java Spring Boot 2019 - Robin LEFLOND, Vincent DENJOY, Louis RIOU, Nicolas HUBERDEAU
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="../js/jquery-3.1.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>

</html>
