<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page d'accueil">
    <meta name="author" content="Robin LEFLOND Vincent DENJOY Louis RIOU Nicolas HUBERDEAU">

    <title>Echappez-vous !</title>

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top container-fluid" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Echappez-vous !</a>
        </div>

        <!-- Boutons connexion et s'inscrire -->
        <a href="/deconnection">
            <button type="button" class="btn navbar-button navbar-right">Déconnexion</button>
        </a>

    </nav>

    <div id="page-wrapper" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <img src="../img/escape.png" class="img-responsive" alt="Escape game" width=100%>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sort-amount-desc fa-fw"></i> Liste des meilleurs escape games
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Thème</th>
                                            <th>Créateur</th>
                                            <th class="text-center">Note</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="escapeGame : ${data}">
                                            <td th:text="${escapeGame.name}"></td>
                                            <td th:text="${escapeGame.theme}"></td>
                                            <td th:text="${escapeGame.creator}"></td>
                                            <td class="text-center" th:text="${escapeGame.note}"></td>
                                            <td class="text-right">
                                                <a th:href="@{/escapeGame/{id}(id=${escapeGame.id})}"
                                                   class="btn btn-sm btn-info">Voir cet EscapeGame</a>
                                            </td>
                                            <td class="text-right">
                                                <a th:href="@{/commentary/{id}(id=${escapeGame.id})}"
                                                   class="btn btn-sm btn-info">Ecrire un commentaire</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <a href="commentariesList" class="btn btn-sm btn-info">Voir les commentaires</a>
                                    </div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-star fa-fw"></i> Dernière Nouveauté
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Thème</th>
                                <th>Créateur</th>
                                <th>Adresse</th>
                                <th class="text-right">Date d'ouverture</th>
                            </tr>
                            </thead>
                            <tr>
                                <td th:text="${newEscapeGame.name}"></td>
                                <td th:text="${newEscapeGame.theme}"></td>
                                <td th:text="${newEscapeGame.creator}"></td>
                                <td th:text="${newEscapeGame.address}"></td>
                                <td class="text-right" th:text="${newEscapeGame.opening_date}"></td>

                            </tr>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-edit fa-fw"></i> Vous voulez ajoutez votre escape game ?
                    </div>
                    <div class="panel-body">
                        <a href="/addEscapeGame">
                            <button type="button" class="btn" href="/addEscapeGame">Créez votre escape game</button>
                        </a>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        Vous êtes actuellement connecté sur le compte de <span th:text="${user}"></span>, pour changer de compte
        veuillez vous déconnecter

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            &bullet; Projet Java Spring Boot 2019 - Robin LEFLOND, Vincent DENJOY, Louis RIOU, Nicolas HUBERDEAU
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="../js/jquery-3.1.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>

</html>
