<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Détails de l'Escape Game">
    <meta name="author" content="Robin LEFLOND Vincent DENJOY Louis RIOU Nicolas HUBERDEAU">

    <title>Détails de l'Escape Game</title>

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

</head>
<body>
<div id="wrapper">

    <div id="page-wrapper" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">DETAILS DE L'ESCAPE GAME</h1>
                <img src="../img/can-you-escape-banner.png" class="img-responsive" alt="Escape game" width=100%>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form>
                                    <div class="form-group">
                                        <label>Créateur</label>
                                        <td th:text="${escapeGame.creator}"></td>
                                    </div>

                                    <div class="form-group">
                                        <label>Nom</label>
                                        <td th:text="${escapeGame.name}"></td>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <td th:text="${escapeGame.description}"></td>
                                    </div>

                                    <div class="form-group">
                                        <label>Thème</label>
                                        <td th:text="${escapeGame.theme}"></td>
                                    </div>

                                    <div class="form-group">
                                        <label>Date d'ouverture</label>
                                        <td th:text="${escapeGame.opening_date}"></td>
                                    </div>

                                    <div class="form-group">
                                        <label>Adresse de l'Escape Game</label>
                                        <td th:text="${escapeGame.address}"></td>
                                    </div>

                                    <div class="form-group">
                                        <label>Note</label>
                                        <td th:text="${escapeGame.note}"></td>
                                    </div>


                                </form>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row text-center">
            <a href="/">
                <button>Revenir à l'accueil</button>
            </a>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>

<!-- /#wrapper -->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            &bullet; Projet Java Spring Boot 2019 - Robin LEFLOND, Vincent DENJOY, Louis RIOU, Nicolas HUBERDEAU
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="../js/jquery-3.1.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>

</html>
